@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.main_container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 19fr;
    background: url('../images/bg2.jpg');
    background-size: cover;
    background-position: center;
    transition: all 1s;
}

@media screen and (min-width: 992px) {
    .exam_container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 992px) {
    .exam_container {
        width: 100%;
        height: 100%;
        display: grid;
        gap: 1rem;
        box-sizing: border-box;
    }
}

.result_container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/bg1.jpg');
    background-size: cover;
    background-position: center;
    transition: all 1s;
}

.result_container:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.result-div {
    width: 60%;
    height: 50vh;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #fff1, #fff3);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
    /* text-shadow: 0 2px 6px rgba(114, 7, 7, 0.133), 0 4px 16px #0004; */
}

.result-span {
    margin-left: 10px;
    font-size: 48px;
    font-weight: 900;
    /* text-shadow: 1 2px 6px rgba(114, 7, 7, 0.133), 1 4px 16px #0004; */
}

.result-title {
    font-size: 48px;
    font-weight: 900;
}

.result-header {
    /* color: #b17816; */
}

.hidden {
    display: none !important;
}

.button {
    padding: 8px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.button:hover {
    transform: scale(0.95);
}

.button:disabled,
.button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #0007;
    transition: all 0.5s;
}

.button:disabled:hover,
.button[disabled]:hover {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #0007;
}

.btn-success {
    border: 1px solid rgb(46, 202, 155);
    background: #2196f3;
    color: white;
}

.btn-success:hover {
    background: #3496e6;
}

.next::after {
    content: ' >';
}

.btn-danger {
    border: 1px solid #f3493d;
    background: #f44336;
    color: white;
}

.btn-danger:hover {
    background: #f14a3e;
}

.previous::before {
    content: '< ';
}

.btn-warning {
    border: 1px solid #e2c05b;
    background: #ffc107;
    color: #000;
}

.btn-warning:hover {
    background: #e9bd3a;
}

.question_num {
    padding: 10px;
    background-color: #8bc34a;
    font-weight: 600;
    margin: 3px;
}

#myProgress {
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(236, 225, 225);
}

#myBar {
    width: 100%;
    height: 15px;
    background-color: #ffc107;
    box-shadow: 0px 2px 5px #00000075;
}

.exam_question_bar {
    width: 100%;
    height: 100%;
    background-color: #fffdded8;
    border-radius: 1rem;
    box-shadow: 3px 3px 7px #0005;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    padding: 3rem;
    box-sizing: border-box;
}

.question {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: start;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 7px #0005;
    padding: 1rem;
    font-size: 24px;
    font-weight: 600;
}

.question_choices {
    grid-column: 2/3;
    grid-row: 2/4;
    /* align-self: center; */
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 7px #0005;
    padding: 1rem;
    box-sizing: border-box;
}

.question_choices .list-group-item {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(107, 101, 101, 0.267);
}

.controls {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.submit {
    grid-column: 1/4;
    grid-row: 5/6;
    text-align: center;
}

.submit_button {
    background-color: rgb(0, 128, 68);
    width: 100%;
    padding: 10px 0;
    border: 1px solid rgb(2, 151, 82);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
}

.submit_button:hover {
    transform: scale(0.99);
    border: 1px solid rgb(5, 187, 102);
    background-color: rgb(5, 187, 102);
}

.left_buttons {
    display: flex;
    justify-content: space-around;
}

.exam_mark_bar {
    width: 100%;
    height: 100%;
    background-color: #e7fbbe;
    border-radius: 1rem;
    box-shadow: 3px 3px 7px #0005;
    text-align: center;
}

.mark_header {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.marks {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.mark_item {
    text-align: start;
    box-sizing: border-box;
    flex-basis: 90%;
    padding: 10px;
    width: 100%;
    background: linear-gradient(to top left, #ffc107, #e2a74f);
    box-shadow: 3px 3px 7px #ffcbcb;
    margin: 10px 0;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.mark_item:hover {
    transform: scale(0.98);
    background: linear-gradient(to top left, #008044, #4fe2aa);
    transition: all 0.5s;
}

.timer_container {
    text-align: center;
    padding: 10px;
    margin-bottom: 1rem;
}

.timer {
    margin: auto;
    width: 50%;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid rgb(4, 78, 44);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px #0002, 0 4px 16px #0004;
}


/* mobile */

@media screen and (max-width: 992px) {
    .main_container {
        max-width: 100%;
    }
    .timer {
        font-size: 1rem;
    }
    .question {
        font-size: 1rem;
    }
    .rad-text {
        font-size: 0.6rem;
    }
    .result-div {
        text-align: center;
        font-size: 1rem;
        padding: 10px;
    }
    .result-header {
        margin-top: 1rem;
        text-align: center;
        font-size: 1rem;
    }
    .result-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1rem;
    }
    .result-span {
        font-size: 1.2rem;
    }
}

.mark_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-icon {
    color: rgb(168, 11, 11);
    font-size: 20px;
    height: 100%;
    cursor: pointer;
}

.delete-icon:hover {
    color: rgb(92, 18, 18);
    transform: scale(0.95);
}


/* radio buttons */

.rad-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 5px 16px;
    /* margin: 10px 0; */
    cursor: pointer;
    transition: 0.3s;
}

.rad-label:hover,
.rad-label:focus-within {
    background: hsla(0, 0%, 80%, 0.14);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient( to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: 0.3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: #000;
    margin-left: 14px;
    letter-spacing: 3px;
    /* text-transform: uppercase; */
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
}

@media screen and (max-width: 992px) {
    .rad-text {
        font-size: 0.8rem;
    }
}


/* ABS */


/* ====================================================== */

.abs-site-link {
    position: fixed;
    bottom: 40px;
    left: 20px;
    color: hsla(0, 0%, 0%, 0.5);
    font-size: 16px;
}